@model IEnumerable<SmartShopConnection.DonDatHang>
@Styles.Render("~/Content/css")
@{
    ViewBag.Title = "DonHang";
    Layout = "~/Views/Shared/_Main.cshtml";
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaDH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDatHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GhiChu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tongtien)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaDH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDatHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tongtien)
            </td>
        </tr>
        <tr>
            <td colspan="11">
                <table>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            Mã sản phẩm
                        </td>
                        <td>
                            Số lượng
                        </td>
                        <td>
                            Đơn giá
                        </td>
                        <td>
                            Tổng tiền
                        </td>
                    </tr>
                    @foreach (var item2 in item.DsctDH)
                    {
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                @Html.DisplayFor(modelItem => item2.MaSP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item2.SoLuong)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item2.DonGia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item2.TongTien)
                            </td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
    }

</table>

