@model SmartShopConnection.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.MaSP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.MaSP, new { disabled = "disabled" })
                @Html.HiddenFor(model => model.MaSP)
                @Html.ValidationMessageFor(model => model.MaSP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TenSP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenSP)
                @Html.ValidationMessageFor(model => model.TenSP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gia)
                @Html.ValidationMessageFor(model => model.Gia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MoTa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.MoTa, new { @class = "ckeditor" })
                @Html.ValidationMessageFor(model => model.MoTa)
            </div>
        </div>
        <div class="form-group">
            <img src="~/Image/product/@Html.DisplayFor(model => model.Hinh)" height="100" width="100" />
                 @Html.LabelFor(model => model.ImageUpload2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ImageUpload2, new { type = "file" })
                @Html.ValidationMessageFor(model => model.ImageUpload2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LoaiSP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.LoaiSP, new SelectList(Model.dsLoai, "MaLoai", "TenLoai",Model.LoaiSP))
                @Html.ValidationMessageFor(model => model.LoaiSP)
            </div>
        </div>

        

        <div class="form-group">
            @Html.LabelFor(model => model.HeDieuHanh, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.HeDieuHanh, new SelectList(new List<Object> { new { value = "Android" , text = "Android"  },
                       new { value = "WindowsPhone" , text = "WindowsPhone" },
                       new { value = "IOS" , text = "IOS"} },
           "value",
     "text", @Html.DisplayFor(model => model.HeDieuHanh)
            ))
                @Html.ValidationMessageFor(model => model.HeDieuHanh)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LuotXem, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LuotXem)
                @Html.ValidationMessageFor(model => model.LuotXem)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayDangSP, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayDangSP)
                @Html.ValidationMessageFor(model => model.NgayDangSP)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
