@model SmartShopConnection.Product
@{
    ViewBag.Title = "Chi tiết";
}
<script>
    

    function EditCmt(id) {
        $.post("/Comment/Edit", { "idCmt": $(".form_edit_cmt #IDCmt").val(), "maSP": $(".form_edit_cmt #MaSP").val(), "userID": $(".form_edit_cmt #UserCmt").val(), "mainCmt": $(".form_edit_cmt #NoiDung").val() },
        function (data) {
            if (data.Code == '0') {
                $("." + id + " #noidung").html($(".form_edit_cmt #NoiDung").val());
            }
        });

        return false;
    }

    function DeleteCmt(id) {
        if (confirm('Bạn thực sự muốn xóa bình luận này?')) {
            $.post("/Comment/Delete", { "id": id },
            function (data) {
                if (data.Code == '0') {
                    $("." + id).remove();
                }
            });
        }
        return false;
    }

    $(document).ready(function () {
        $(".edit_cmt").click(function () {
            $(this).parent().find(".EditCmt").slideToggle();
        });
    });
</script>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-content-right">
                    <div class="product-breadcroumb">
                        <a href="~/">Trang chủ</a>
                        <a href="">@Html.DisplayFor(model => model.TenSP)</a>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <ul id="etalage">
                                <li>
                                    <a href="">
                                        <img class="etalage_thumb_image" src="~/image/product/@Html.DisplayFor(model => model.Hinh)" />
                                        <img class="etalage_source_image" src="~/image/product/@Html.DisplayFor(model => model.Hinh)" />
                                    </a>
                                </li>
                                <li>
                                    <img class="etalage_thumb_image" src="~/image/product/@Html.DisplayFor(model => model.Hinh)" />
                                    <img class="etalage_source_image" src="~/image/product/@Html.DisplayFor(model => model.Hinh)" />
                                </li>
                                <li>
                                    <img class="etalage_thumb_image" src="~/image/product/@Html.DisplayFor(model => model.Hinh)" />
                                    <img class="etalage_source_image" src="~/image/product/@Html.DisplayFor(model => model.Hinh)" />
                                </li>
                                <li>
                                    <img class="etalage_thumb_image" src="~/image/product/@Html.DisplayFor(model => model.Hinh)" />
                                    <img class="etalage_source_image" src="~/image/product/@Html.DisplayFor(model => model.Hinh)" />
                                </li>
                                <li>
                                    <img class="etalage_thumb_image" src="~/image/product/@Html.DisplayFor(model => model.Hinh)" />
                                    <img class="etalage_source_image" src="~/image/product/@Html.DisplayFor(model => model.Hinh)" />
                                </li>
                            </ul>
                        </div>

                        <div class="col-sm-6">
                            <div class="product-inner">
                                <h2 class="product-name">@Html.DisplayFor(model => model.TenSP)</h2>
                                <div class="product-inner-price">
                                    <ins>@Html.DisplayFor(model => model.Gia)</ins>
                                </div>

                                <button class="add_to_cart_button" onclick="AddToCart('@Html.DisplayFor((model => model.MaSP))')">Add to cart</button>


                                <div role="tabpanel">
                                    <ul class="product-tab" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Chi tiết</a></li>
                                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Bình luận</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                                            <h2>Chi tiết sản phẩm</h2>
                                            @Html.Raw(Model.MoTa)
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="profile">
                                            <h2>Bình luận</h2>
                                            <div class="submit-review">
                                                @Html.Action("Create", "Comment")
                                                @Html.Action("Cmt", "Comment", new { page = Page })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>