@model PetaPoco.Page<SmartShopConnection.Product>
<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="mens-toolbar">

                <div class="pager">

                    <ul class="dc_pagination dc_paginationA dc_paginationA06">
                        @if (Model.CurrentPage != 1)
                        {
                            <li class="pre"><a href="@Url.Action("Search", "Product", new { page = Model.CurrentPage - 1, key = Session["keysearch"] })" class="previous">Lùi</a></li>
                        }
                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            if (i == Model.CurrentPage)
                            {
                                <li><a class="current" href="@Url.Action("Search", "Product", new { page = @i, key = Session["keysearch"] })">@i</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Action("Search", "Product", new { page = @i, key = Session["keysearch"] })">@i</a></li>
                            }
                        }
                        @if (Model.CurrentPage != Model.TotalPages)
                        {
                            <li class="next"><a href="@Url.Action("Search", "Product", new { page = Model.CurrentPage + 1, key = Session["keysearch"] })" class="previous">Tới</a></li>
                        }
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>

            <div class="col-md-12">
                <div class="latest-product">
                    <h2 class="section-title">Kết quả bạn tìm theo từ khóa: "@Session["keysearch"]"</h2>
                    <div class="row">
                        @foreach (var item in Model.Items)
                        {
                            <div class="col-md-4 single-product">
                                <div class="product-f-image">
                                    <img src="~/Image/product/@Html.DisplayFor(modelItem => item.Hinh)" alt="">
                                    <div class="product-hover">
                                        <a class="add-to-cart-link" onclick="AddToCart('@Html.DisplayFor(modelItem => item.MaSP)')">
                                            <i class="fa fa-shopping-cart"></i>
                                            Add to cart
                                        </a>
                                        <a href="/Product/Details/@Html.DisplayFor(modelItem => item.MaSP)" class="view-details-link">
                                            <i class="fa fa-link"></i>
                                            See details
                                        </a>
                                    </div>
                                </div>

                                <h2><a href="/Product/Details/@Html.DisplayFor(modelItem => item.MaSP)">@Html.DisplayFor(modelItem => item.TenSP)</a></h2>

                                <div class="product-carousel-price">
                                    <ins>@Html.DisplayFor(modelItem => item.Gia)</ins>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
