@model IEnumerable<SmartShopConnection.ChungLoai>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaCL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenCL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaCL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenCL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.MaCL }) |
            @Html.ActionLink("Details", "Details", new {  id=item.MaCL }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.MaCL  })
        </td>
    </tr>
}

</table>
