@model PetaPoco.Page<SmartShopConnection.viewAdProduct>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Mã sản phẩm
        </th>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Giá
        </th>
        <th>
            Hình
        </th>
        <th>
            Lượt xem
        </th>
        <th>
            Ngày đăng
        </th>
        <th>
            Loại
        </th>
        <th>
            Chủng loại
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Items) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gia)
        </td>
        <td>
            <img src="~/Image/product/@Html.DisplayFor(modelItem => item.Hinh)" height="100" width="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LuotXem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDangSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenLoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenCL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.MaSP }) |
            @Html.ActionLink("Details", "Details", new { id = item.MaSP }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MaSP })
        </td>
    </tr>
}
    <tr>
        <td colspan="9">
            <div class="pager">

                <ul class="dc_pagination dc_paginationA dc_paginationA06">
                    @if (Model.CurrentPage != 1)
                    {
                        <li><a href="@Url.Action("Index", "AdminProduct", new { page = Model.CurrentPage - 1})" class="previous">Lùi</a></li>
                    }
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        if (i == Model.CurrentPage)
                        {
                            <li><a style="color:red;" href="@Url.Action("Index", "AdminProduct", new { page=@i})">@i</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Index", "AdminProduct", new { page=@i})">@i</a></li>
                        }
                    }
                    @if (Model.CurrentPage != Model.TotalPages)
                    {
                        <li><a href="@Url.Action("Index", "AdminProduct", new { page = Model.CurrentPage + 1 })" class="previous">Tới</a></li>
                    }
                </ul>
                <div class="clear"></div>
            </div>
        </td>

    </tr>
</table>
